@import "tailwindcss";

@theme {
  --color-background: #f8f9fa;
  --color-alt-background: #fdfdfe;
  --color-primary: #0f4c5c;
  --color-secondary: #2ec4b6;
  --color-accent: #ff9f1c;
  --color-text: #343a40;
  --color-text-dimmed: color-mix(in oklab, #343a40 50%, transparent);
  --font-inconsolata: "Inconsolata", monospace;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  display: grid;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 16px;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
  padding: 40px 80px;
  width: 100dvw;
}

@utility title {
  @apply text-2xl text-primary font-bold;
}

@utility base-border {
  border: solid 1px #e6ebef;
}

@utility base-section {
  @apply size-full flex items-center justify-center;
}

@utility alt-background {
  @apply base-border bg-alt-background;
}

@utility card {
  box-shadow: color-mix(in srgb, var(--color-primary), transparent 94%) 0 4px
    4px 0;
  @apply alt-background rounded-md p-6;
}
